.logo{
  font-family: 'Dancing Script', cursive;
}

.quarter-offset {
  height: 17vh;
}

.fb-login {
  background-color: #4267b2;
  padding: 0px;
}

.fb-login:hover {
  background-color: #4267b2;
  padding: 0px;
}

.menu-gap {
  height: 25vh;
}

.content-gap{
  height: 10vh;
}
